<div>
    <div class="banners">
        <div class="item">
            <a href="http://belagro.com/" target="_blank"><img src="http://www.akkor.ru/sites/default/files/field/image/logo_tzs_red.jpg" alt=""></a>
        </div>
        <div class="item">
            <a href="http://www.rshb.ru/" target="_blank"><img src="/images/partners/rsbank.png" alt=""></a>
        </div>
        <div class="item">
            <a href="#"><img src="http://www.akkor.ru/sites/default/files/field/image/1_vtoroi_ciezd_kooperatorov_0.jpg" alt=""></a>
        </div>
        <div class="item">
            <a href="http://new.opora.ru/"><img src="/images/partners/opora.png" alt=""></a>
        </div>
    </div>
    <footer>
        <div class="copyright">© союз фермеров башкортостана</div>
    </footer>
</div>