    <div class="wrap">
        <nav>
            <div class="date"><i class="fa fa-calendar"></i> 8 марта 2014</div>
            <ul>
                <div ng-repeat="tab in tabs" tab instance="tab" new-select="newSelect"></div>
                <!--<li><a href="#">График платежей</a></li>
                <li class="active"><a href="#">Карта фермеров</a></li>
                <li><a href="#">Форум</a></li>-->
            </ul>
        </nav>
        <div class="content">
            <div compile="selectedTab.presentation"></div>
        </div>

        <div footer></div>
    </div>        


