            <div>
                <a href="#" class="in button" ng-click="showLogin()"><i class="fa fa-unlock-alt"></i>Личный кабинет</a>

                <div class="login_block">
                    <form action="">
                        <input type="text" name="" id="" placeholder="Логин" autofocus ng-model="userName">
                        <input type="password" name="" id="" placeholder="Пароль" ng-model="userPass">
                        <input type="submit" value="Ок" class="button green" ng-click="login()">
                    </form>
                </div>
            </div>    
            
        