    <div>
    <div class="banner">
        <div class="wrap">
            <div class="registration">
                <div class="title">Приглашаем к регистрации</div>
                <div class="block">
                    <form action="">
                        <input type="text" name="" id="" placeholder="Имя" class="w100" ng-model="name" required>
                        <input type="text" name="" id="" placeholder="Фамилия" class="w100" ng-model="surname" required>
                        <input type="email" name="" id="" placeholder="Ваш e-mail" class="w100" ng-model="email" required>
                        <input type="text" name="" id="" placeholder="Телефон" class="w100" ng-model="phone">
                        <div class="select w100" >
                            <select name="" id="" ng-model="district" ng-options="c.fullName for c in districts">
                                <option value="">Выберите район</option>
                            </select>
                        </div>
                        <div class="but">
                            <a href="#" class="button yellow big w100" ng-click="register()"><i class="fa fa-check"></i>Регистрация</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="left_text">
                <div class="title1">Поддержка фермерства</div>
                <div class="title2"><b>218</b> фермерств уже с нами</div>
                <ul>
                    <li>Защита прав и интересов крестьянства и фермерского сообщества</li>
                    <li>Активное содействие количественному и качественному росту фермерства в России</li>
                    <li>Улучшение условий жизни лиц, занятых в сельском хозяйстве</li>
                    <li>Всемерное содействие развитию сельских территорий</li>
                </ul>
                <div class="desc">Задача союза фермеров Башкортостана- развитие фермерского дела и аграрного бизнеса. В начале 2013 года их насчитывалось в регионе уже 5621, из которых 4523 — крестьянские (фермерские) хозяйства.</div>
            </div>
        </div>
    </div>

    <div class="slogan wrap">
        <div class="text">
            <div class="title"><b>Пропаганда фермерства</b>, достижений фермерского уклада</div>
            <p>Активное сотрудничество осуществляется с Министерством сельского хояйства РБ и Опора России.</p>
        </div>
        <div class="img"></div>
    </div>
    <div class="partners wrap">
        <ul>
            <li><a href="#"><img src="images/img1.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/img2.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/img3.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/img1.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/img2.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/img3.jpg" alt=""></a></li>
        </ul>
    </div>
</div>