			<div class="payments">
				<table border="0" cellpading="0" cellspacing="0" width="100%">
					<tr>
						<th align="center">№</th>
						<th>Дата</th>
						<th>Назначение</th>
						<th>Сумма</th>
						<th></th>
					</tr>
					<tr>
						<td>1</td>
						<td>11.03.2014</td>
						<td>Первоначальный взнос фермера в союз</td>
						<td class="summ">1000 руб</td>
						<td><a href="#" class="button green small" ng-click='pay()'>Оплатить</a></td>
					</tr>
					<tr>
						<td>2</td>
						<td>11.03.2014</td>
						<td>Членский взнос за Март</td>
						<td class="summ">1000 руб</td>
						<td></td>
					</tr>
					<tr>
						<td>3</td>
						<td>01.04.2014</td>
						<td>Членский взнос за Апрель</td>
						<td class="summ">1000 руб</td>
						<td></td>
					</tr>
					<tr>
						<td>4</td>
						<td>01.05.2014</td>
						<td>Членский взнос за Май</td>
						<td class="summ">1000 руб</td>
						<td></td>
					</tr>
					<tr>
						<td>5</td>
						<td>01.06.2014</td>
						<td>Членский взнос за Июнь</td>
						<td class="summ">1000 руб</td>
						<td></td>
					</tr>
				</table>
			</div>
