			<div class="profile">
				<div class="photos">
					<a href="images/img4.jpg" class="big fancybox" rel="fancybox-thumb"><img src="images/img4.jpg" alt=""></a>
					<a href="images/img4.jpg" class="small fancybox" rel="fancybox-thumb"><img src="images/img4.jpg" alt=""></a>
					<a href="images/img4.jpg" class="small fancybox" rel="fancybox-thumb"><img src="images/img4.jpg" alt=""></a>
					<a href="images/img4.jpg" class="small fancybox" rel="fancybox-thumb"><img src="images/img4.jpg" alt=""></a>
				</div>
				<div class="info">
					<div class="name">Николаев Юрий Александрович</div>
					<div class="desc">
						<div class="title">Адрес:</div>
						<div class="text">
							<p>Республика Башкортостан, Гафурийский район, д. Карагай</p>
						</div>
					</div>
					<div class="desc">
						<div class="title">Особенности производства:</div>
						<div class="text">
							<p>Хозяйство расположено на территории племенного завода, где есть все условия для работы с козами</p>
						</div>
					</div>
					<div class="desc">
						<div class="title">Подробности:</div>
						<div class="text">
							<p>Основное хозяйство Сергея Балаева находится здесь. Но когда пришла пора расширяться, для того, чтобы быть ближе к московским покупателям, было решено приобрести ферму в Никоновском, бывший государственный племенной завод "Никоновское", где велась племенная работа по зааненским козам.</p>
							<p>Это легендарный племзавод, где в свое время покупало коз семейство Бодровых, наши поставщики козьего сыра и молока. Глава семьи Александр Бодров - первый учитель Сергея по козоводству. В последствии племзавод пришел в запустение, а Сергей решил купить его и возродить племенную работу, а также организовать здесь кафедру козоводства (опять же по примеру Бодровых), но от другого учебного заведения.</p>
							<p>Осенью 2012 года ферма Балаева снова переехала - в деревню Парфентьево в Коломенском районе Московской области. Все козы сейчас находятся там.</p>
						</div>
					</div>
				</div>
			</div>
