			<div class="profile">
				<div class="photos">
					<a href="images/img4.jpg" class="big fancybox" rel="fancybox-thumb"><img src="images/img4.jpg" alt=""></a>
					<a href="images/img4.jpg" class="small fancybox" rel="fancybox-thumb"><img src="images/img4.jpg" alt=""></a>
					<a href="images/img4.jpg" class="small fancybox" rel="fancybox-thumb"><img src="images/img4.jpg" alt=""></a>
					<a href="images/img4.jpg" class="small fancybox" rel="fancybox-thumb"><img src="images/img4.jpg" alt=""></a>
				</div>
				<div class="info">
					<div class="name">{{user.fullName}}</div>
					<div class="desc">
						<div class="title">Адрес:</div>
						<div class="text">
							<p >{{fullAddress}}</p>
						</div>
					</div>
					<div class="desc">
						<div class="title">Особенности производства:</div>
						<div class="text">
							<p>{{shortDescription}}</p>
						</div>
					</div>
					<div class="desc">
						<div class="title">Подробности:</div>
						<div class="text">
							<p>{{fullDescription}}</p>
						</div>
					</div>
				</div>
			</div>
